@charset "utf-8";

@import "definitions";
@import "solarized";
@import "header";
@import "article";

body {
  width: 1200px;
  margin: 0 auto;
  font-family: $font-family-sans-serif;
  font-size: 16px;

  @media screen and (max-device-width: $small_device_width) {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
  }

  pre, code {
    font-family: $font-family-monospace;
  }

  pre {
    overflow: scroll;

    code {
      white-space: pre;
    }
  }
}
