@charset "utf-8";

@import "definitions";
@import "solarized";
@import "header";
@import "article";

body {
  min-width: 1200px;
  margin: 0 auto;
  font-family: $font-family-sans-serif;

  pre, code {
    font-family: $font-family-monospace;
  }
}
