@import "definitions";

.article {
  box-sizing: border-box;
  width: $content_width_standard;
  border: 2px solid $main_color;
  padding: 10px 15px;
  margin: 0 auto 10px auto;

  img {
    max-width: 80%;
    display: block;
    margin-bottom: 10px;
  }

  blockquote {
    text-align: center;
    background-color: #dddddd;
  }

  .article-wrote-at {
    font-weight: bold;
    font-size: 20px;
  }
}
