@import "definitions";

.article {
  @include card;
  @include main-content-width;
  padding: 10px 15px;
  margin: 0 auto 10px auto;

  @media  screen and (max-device-width: $small_device_width) {
    width: 100%;
    font-size: 14px;
  }

  img {
    width: 80%;
    display: block;
    margin-bottom: 10px;

    @media  screen and (max-device-width: $small_device_width) {
      display: block;
      width: 100%;
    }
  }

  blockquote {
    text-align: center;
    background-color: #dddddd;
  }

  .article-wrote-at {
    font-weight: bold;
    font-size: 20px;
  }

  ul, ol {
    @media  screen and (max-device-width: $small_device_width) {
      padding-left: 10px;
    }
  }

  table, th, td {
    border: 1px solid $main_color;
  }

  th, td {
    padding: 5px;
  }
}
