// color
$main_color: #201d21;
$background_color: #ffffff;

// font
$font_color: $main_color;
$font_family_sans_serif: 'Open Sans','Helvetica Neue', Helvetica, 'Arial', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif !default;
$font_family_serif:       'Times New Roman', Times, '游明朝体', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif !default;
$font_family_monospace:   Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
