// color
$main_color: #211c27;
$background_color: #f5f1f1;

// font
$font_color: $main_color;
$font-family-humanist-sans-serif: sans-serif;
$font-family-sans-serif: sans-serif;
$font-family-serif: serif;
$font-family-monospace: monospace;
$font-family-base: $font-family-humanist-sans-serif;

// width
$content_width_standard: 1000px;

// device width
$small_device_width: 768px;
