@import "definitions";

header {
  @include card;
  padding: 20px;
  margin-bottom: 2rem;

  @media  screen and (max-device-width: $small_device_width) {
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    margin: 20px auto;
  }

  title {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $font_color;
  }

  h1 {
    text-align: center;
    margin: 0;
  }
}
