@import "definitions";

header {
  box-sizing: border-box;
  width: $content_width_standard;
  margin: 30px auto 40px auto;
  padding: 30px;
  border: 2px solid $main_color;

  title {
    text-align: center;
  }

  a {
    text-align: center;
    text-decoration: none;
    color: $font_color;
  }

  h1 {
    text-align: center;
    margin: 0;
  }
}
