div class=(author ? "h-card p-author" : "h-card") hidden=true
  a.p-name.u-url.u-uid href="https://blog.unasuke.com/" うなすけ
  img.u-photo src="https://blog.unasuke.com/images/icon.png" alt=""
  a.u-url rel="me" href="https://unasuke.com/" unasuke.com
  a.u-url rel="me" href="https://mstdn.unasuke.com/@unasuke" Mastodon
  a.u-url rel="me" href="https://github.com/unasuke" GitHub
  a.u-url rel="me" href="https://x.com/yu_suke1994" X
