<a href="#" class="js-mstdn-share-button"><%= title %><br /><%= url %></a>
<script defer src="https://github.com/windymelt/mastodon-share-button-scalajs/releases/download/v0.0.11/mstdn-share.js"></script>
