//@import "definitions";

.article {
  @include card;
  @include main-content-width;
  padding: 10px 15px;
  margin-bottom: 2rem;
  word-break: break-word;

  @media  screen and (max-device-width: $small_device_width) {
    margin-bottom: 1rem;
  }

  img.hatena-star-star, img.hatena-star-add-button {
    max-width: none;
    display: inline-block;
    margin: 0;

    @media  screen and (max-device-width: $small_device_width) {
      max-width: initial;
      width: initial;
    }
  }

  img {
    max-width: 80%;
    display: block;
    margin: 0 auto 10px;

    @media  screen and (max-device-width: $small_device_width) {
      max-width: initial;
      width: 100%;
    }
  }

  blockquote {
    border-left: 5px solid #ccc;
    padding-left: 1em;
    color: #888;
    font-style: italic;
    margin: 0;
  }

  .article-wrote-at {
    font-weight: bold;
  }

  ul, ol {
    padding-left: 1.5em;
  }

  table, th, td {
    border: 1px solid $main_color;
  }

  th, td {
    padding: 5px;
  }

  .social-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .social-button {
      margin-right: 10px;
      margin-bottom: 15px;

      img {
        max-width: unset;
        width: unset;
        margin: unset;
        display: unset;
      }

      a.mstdn-share-button {
        display: unset;
      }
    }


  }
}
