on:
  push:
    branches:
      - 'master'
jobs:
  s3_sync:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt-get update && sudo apt-get install -y libvips-dev
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::423695832787:role/static-site-deploy-role
          aws-region: ap-northeast-1
      - uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # v1.287.0
        with:
          bundler-cache: true
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
      - run: npm ci
      - run: bundle exec middleman build
      - run: aws s3 sync ./build s3://static-site-blog-unasuke-com --delete --quiet
      - run: aws cloudfront create-invalidation --distribution-id E27VRKNRHRNYHG --paths "/*"
